body {
    background-color: blue;
}



#game-board {
    background-color: black;
    border: 30px solid gold;
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    top: 50px;
    height: 500px;
    padding: 15px;

}

h1 {
    font-family: 'Federant', cursive;
    font-size: 75px;
    font-weight: 700;
    padding: 25px;
    color: gold;
}

p {
    font-family: 'Federant', cursive;
    font-size: 24px;
    padding: 5px;
    margin-left: 5%;
    color: gold;
}

